<div class= "container d-flex flex-column">
  <% @users.each do |user| %> 
      <div class="container d-flex justify-content-between m-4 border">
          <img src="<%= user.photo %>" >
          <h1 class="no_underline"><%= link_to user.name, user %></h1>
          <p>Number of posts: <%= user.posts_counter || 0 %></p>
      </div>
  <% end %>
</div>